@{
    ViewData["Title"] = "Home Page";
}
@model UI.Models.ViewModels.HomeViewModel


<section class="hero">
    <div class="hero-content">
        <h1>هر کتابی که می‌خواهی، اینجا هست</h1>
        <p>با بیش از ۲۰۰۰ عنوان کتاب در دسته‌بندی‌های مختلف، سفر مطالعاتی خود را آغاز کنید.</p>
        <a href="#" class="hero-btn">مشاهده فروش‌ها</a>
    </div>
</section>

<section class="categories">
    <h2>دسته‌بندی‌ها</h2>
    <div class="category-list">
        @foreach (var c in Model.Categories)
        {
            <div class="category-card">
                <img src="@c.ImageUrl" alt="@c.Name" />
                <p>@c.Name</p>
                <p>@c.BriefDescription</p>
            </div>
        }
    </div>
</section>

<section class="latest-books">
    <h2>جدیدترین کتاب‌ها</h2>
    <div class="book-list">
        @foreach (var b in Model.LatestBooks)
        {
            <div class="book-card">
                <img src="@b.ImageUrl" alt="@b.Title" />
                <h3>@b.Title</h3>
                <h4>@b.AuthorName</h4>
                <h4>@b.PagesCount.ToString() صفحه</h4>
                <p class="price">@b.Price.ToString("N0") تومان</p>
            </div>
        }
    </div>
</section>